<div>
  {{selectedCategory.name}}
</div>

<div [ngClass]="divACurrentClasses">
  テストA
</div>

<div [ngClass]="divBCurrentClasses">
  テストB
</div>

<div class="card flex justify-content-center">
  <div class="flex flex-column gap-3">
    <div *ngFor="let ct of categoriesTarget" class="field-checkbox">
      <p-radioButton [inputId]="ct.key" name="ct" [value]="ct" [(ngModel)]="selectedCategoryTarget" [disabled]="flag" />
      <label [for]="ct.key" class="ml-2">
        {{ ct.name }}
      </label>
    </div>
  </div>
</div>

<!-- 有効切替用 -->
<div class="card flex justify-content-center">
  <div class="flex flex-column gap-3">
    <div *ngFor="let category of categories" class="field-checkbox">
      <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory"
        (onClick)="clickRadio()" />
      <label [for]="category.key" class="ml-2">
        {{ category.name }}
      </label>
    </div>
  </div>
</div>

<!-- The AG Grid component -->
<ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" [rowSelection]="rowSelection"
  (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)" class="ag-theme-quartz"
  style="height: 200px;" />

<button *ngIf="false" pButton pRipple label="合計" class="p-button-success" (click)="clickBtnSum()">
</button>

<div *ngIf="false">
  合計：{{ total }}
</div>